/* All */
.sidebar .task-list,
.sidebar .project-list {
  width: 90%;
}

/* Header */

.header {
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0 2rem;
  height: 100%;
}

.header > * {
  display: inherit;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sidebar-button {
  gap: 0px;

  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.sidebar-button:hover {
  border-radius: 5px;
  background: var(--color-2);
  transition: 0.3s;
}

.sidebar-button.currently-selected {
  background-color: var(--color-2);
  transition: 0.3s;
}

/* Main */
.main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;

  transition: 0.3s;
}

.main .content h1 {
  font-size: 1.4rem;
  padding: 20px;
  margin: 0;
  text-align: center;
  width: 100%;
  background-color: var(--color-4);
}

.main .content h1 i {
  margin-right: 10px;
}

.main .content .display-description {
  width: 100%;
  text-align: center;
}

.main .content .display-description button.add-task {
  width: 100%;
  text-align: left;
  padding: 20px;
  cursor: pointer;
  background-color: var(--color-3);
  border: none;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 10px;
}

.main .content .display-description button:hover {
  background-color: var(--color-4);
}

.main .content .display-description button.add-task i {
  margin-right: 15px;
}

/* Sidebar */

.main .sidebar {
  position: fixed;
  z-index: 5;
  background-color: var(--color-3);
  width: 0px;
  height: calc(100% - 105px);
  padding-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;

  transition: 0.3s;
}

.sidebar ul li {
  width: 335px;
}

.sidebar ul li i {
  width: 20px;
}

.sidebar > div {
  padding-left: 25px;
  width: 310px;
  font-size: 1rem;
  list-style: none;
  transition: 0.3s;
}

.sidebar > div ul {
  padding: 0px;
}

.sidebar > div ul li {
  margin-bottom: 16px;
  background-color: var(--color-2);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar > div ul li:hover {
  transition: 0.3s;
  background-color: var(--color-1);
}

.sidebar > div ul li.currently-selected {
  background-color: var(--color-4);
  transition: 0.3s;
}

.sidebar > div ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar > div h1 {
  font-size: 1.2rem;
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
}

/* Sidebar Task */

.sidebar .task-list h1 {
  margin-top: 20px;
}

/* Sidebar Project */
.sidebar .project-list button.add-project {
  text-align: left;
  width: 335px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-3);
  cursor: pointer;
}

.sidebar .project-list button.add-project:hover {
  background-color: var(--color-2);
}

.sidebar .project-list button.add-project:active {
  background-color: var(--color-4);
}

.sidebar .project-list .add-project i {
  margin-right: 10px;
}

.sidebar .project-list ul li {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar .project-list ul li > * {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sidebar .project-list ul li div:nth-child(2) {
  gap: 5px;
}

.sidebar .project-list ul li div:nth-child(2) button {
  cursor: crosshair;
  background-color: var(--color-2);
  border: none;
  border-radius: 5px;

  height: 30px;
}

/* Sidebar Toggle */

.sidebar.toggle-bar {
  width: 400px;
  transition: 0.3s;
}

.content.toggle-content {
  margin-left: 400px;
  transition: 0.3s;
}

.content.toggle-content.fixed {
  margin-left: 0px;
  opacity: 0.5;
  pointer-events: none;
}

/* Footer */

.footer {
  font-size: 0.7rem;
  justify-content: center;
  gap: 5px;
}
