@import "import.css";
@import "content.css";
@import "modal.css";
@import "sidebar.css";

:root {
  --color-1: rgb(255, 234, 221);
  --color-2: rgb(252, 174, 174);
  --color-3: rgb(255, 137, 137);
  --color-4: rgb(255, 102, 102);
  --color-5: rgb(245, 50, 50);
}

body {
  background-color: var(--color-2);
}

p {
  margin: 0;
}

*,
*::before,
*::after {
  color: white;
}

.main-container {
  position: relative;
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(500px, 1fr);
  grid-template-rows: 75px 1fr 30px;
}

.header,
.footer {
  background-color: var(--color-4);
  display: flex;
  align-items: center;

  position: relative;
  z-index: 5;
}

.main {
  display: flex;
}

/* All */
.sidebar .task-list,
.sidebar .project-list {
  width: 90%;
}

/* Media Query */
